@model Supplier
@{
    ViewData["Title"] = " Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var options = new List<SelectListItem>()
{

        new SelectListItem("enabled","enabled"),
        new SelectListItem("disabled","disabled")

        };
}

<div class="container">
    <div class="row">
        <form method="post" enctype="multipart/form-data">
            
            <div class="form-group">
                @Html.DisplayNameFor(a => a.FullName)
                @Html.TextBoxFor(a => a.FullName, new { @Class = "form-control", placeholder = "full name" })
                @Html.ValidationMessageFor(a => a.FullName, "", new { @Class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(a => a.Address)
                @Html.TextBoxFor(a => a.Address, new { @Class = "form-control", placeholder = "Address" })
                @Html.ValidationMessageFor(a => a.Address, "", new { @Class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(a => a.Contact)
                @Html.TextBoxFor(a => a.Contact, new { @Class = "form-control", placeholder = "Contact" })
                @Html.ValidationMessageFor(a => a.Contact, "", new { @Class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(a => a.Email)
                @Html.TextBoxFor(a => a.Email, new { @Class = "form-control", placeholder = "Email" })
                
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(a => a.Status)
                @Html.DropDownListFor(a => a.Status, options, new { @Class = "form-control", placeholder = "Status" })
               
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(a => a.image)
                @Html.TextBoxFor(a => a.file, new { @type = "file", @class = "form-control-file" })
               
            </div>
            <br />
            <button type="submit" class="btn btn-info btn-primary file ">Submit</button>
            <a asp-controller="Supplier" asp-action="Index" class="btn btn-info btn-primary ">Back</a>

        </form>


    </div>"


</div>

