@model IEnumerable<Supplier>
@{
    ViewData["Title"] = "Supplier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{



}
<div class="container">

    <div class="text-center">
        <h2>Supplier Summary</h2>
    </div>
    <div>
        <a href="/supplier/CreateSupplier" class="btn btn-primary btn-info">Add Supplier</a>
    </div>

    <table class="table">

        <tr>
            <th>@Html.DisplayNameFor(a => a.sup_id) </th>
            <th>@Html.DisplayNameFor(a => a.FullName) </th>
            <th>@Html.DisplayNameFor(a => a.Address) </th>
            <th>@Html.DisplayNameFor(a => a.Contact) </th>
            <th>@Html.DisplayNameFor(a => a.Email) </th>
            <th>@Html.DisplayNameFor(a => a.image) </th>
            <th>@Html.DisplayNameFor(a => a.Status) </th>
            <th>Actions</th>
        </tr>

        @{
            foreach (var sup in Model)
            {
                <tr>
                    <td>@sup.sup_id</td>
                    <td>@sup.FullName</td>
                    <td>@sup.Address</td>
                    <td>@sup.Contact</td>
                    <td>@sup.Email</td>
                   
                    <td><img src="~/images/@sup.image" style="height:4rem;width:4rem;border-radius:100%;box-shadow:.1rem .1rem black;" /></td>
                    <td>

                       
                        <div class="custom-control custom-switch">
                            <input   type="checkbox" class="custom-control-input btn-status" id="customSwitch1" data-id="@sup.sup_id" checked>
                            
                        </div>



                    </td>
                    <td>
                        <a href="/supplier/Editsupplier?id=@sup.sup_id" class="btn btn-info edit-msg btn-sm">Edit</a>
                        <a href="/supplier/Delete?id=@sup.sup_id" class="btn btn-info delete-msg btn-sm">Delete</a>
                    </td>
                </tr>
            }

        }
    </table>
</div>

    @section scripts
    {
       
        <script>
            $(document).ready(function () {
                
                $('.btn-status').bootstrapToggle({
                    on: 'Enabled',
                    off: 'Disabled'
                });

                $(".edit-msg").on('click', function () {
                    event.preventDefault();
                    var editmsg = confirm("do you want to update?");
                    if (editmsg == true) {
                        window.location.href = $(this).attr('href');
                    }
                })

                $('.btn-status').on('change', function () {
                    event.preventDefault();
                    var status = $(this).is(":checked");
                    var id = $(this).data('id');
                    var url = `/Supplier/IsEnabledDisabled?id=${id}&status=${status}`;
                    $.ajax({
                        url: url,
                        type: 'get',
                        dataType: 'json',
                        success: function () {
                        }
                    })
                })
            })
        </script>

    }
